<br>
<app-popup-notification [bgColor]="bgColor" *ngIf="successMessage" [message]="successMessage" #popup></app-popup-notification>

<app-popup-notification [bgColor]="bgColor" *ngIf="errorMessage" [message]="errorMessage" #popup></app-popup-notification>

<form [formGroup]="form">
  <div class="container-fluid mb-2">Select liste</div>
  <div class="container-fluid">
    <div class="form-group row">
      <div class="col-md-5">
        <select value="select option" ngModal="IdApp" class="rounded-pill form-control" id="sel1" #teams
          (change)="onSelected(teams.value)">

          <option value="{{a.id}}" *ngFor="let a of listApps">{{ a.NomApp }}</option>
        </select>
      </div>

    </div>
    <label for="etat">Etat:</label>
      <select #etat  (change)="onSelectede(etat.value)" id="etat" formControlName="Etat" class="rounded-pill form-control" style="width: auto;" type="text" style="width: 400px; ">
        <option value="">-- Choisir un état --</option>
        <option value="false">Inactif</option>
        <option value="true">Actif</option>
        <option ></option>
      </select>
  
    <div class="container-fluid mb-3">Password</div>
    <div class="row">
      <div class="col-md-5">
        <input type="text" formControlName="pwd" [(ngModel)]="password" maxlength="25" id="pwd" name="password"
          class="rounded-pill form-control" [value]="password">
          <div style="color: red; margin-top: 10px" *ngIf="f['pwd'].touched && f['pwd'].invalid">
            <div *ngIf="f['pwd'].errors && f['pwd'].errors['required']">
              Le mot de passe est requis !
            </div>
            <div *ngIf="f['pwd'].errors && f['pwd'].errors['minlength']">
              Le mdp doit contenir au moins 5 caracteres !
            </div>
          </div>
      </div>
      
      <br>
      <div class="col-md-5">
        <button type="button" class="btn btn-warning text-light mr-2" data-toggle="modal" data-target="#exampleModal"><i
            class="fa-solid fa-lock"></i> generer</button>
      </div>
    </div>
    <br>
    <button type="button" class="btn btn-success text-light mr-2" [disabled]="form.invalid" (click)="Addpwd()">
      <i class="fa-solid fa-floppy-disk"></i> enregistrer</button>

  </div>
</form>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="content ">
          <div class="container ">
            <div class="row ">
              <div class="col-md-12">

                <div class="content">

                  <div class="columns" style="margin-top: 2rem;">
                    <div class="column is-half is-offset-one-quarter">
                      <div class="box">

                        <div class="field w-25">

                          <p for="length">Langueur</p>
                          <input (input)="onChangeLength($any($event.target).value)" type="number" name="length"
                            class="form-control">

                        </div>
                        <br>

                        <div class="d-flex justify-content-left">

                          <div class="field mr-5 ">
                            <p>Utiliser:</p>
                          </div>
                          <div class="field mr-5 ">
                            <label class="checkbox" for="use-letters">
                              <input (change)="onChangeUseLetters()" type="checkbox" class="form-check-input"
                                id="use-letters">
                              <p>Lettres</p>
                            </label>
                          </div>

                          <div class="field mr-5">
                            <label class="checkbox" for="use-numbers">
                              <input (change)="onChangeUseNumbers()" type="checkbox" class="form-check-input"
                                id="use-numbers">
                              <p>Nombres</p>
                            </label>
                          </div>

                          <div class="field mr-5">
                            <label class="form-check-label" for="use-symbols">
                              <input (change)="onChangeUseSymbols()" type="checkbox" class="form-check-input"
                                id="use-symbols">
                              <p>Symboles</p>
                            </label>
                          </div>
                        </div>


                        <div class="field">
                          <div class="control">
                            <button [disabled]="disabledBth()" class="btn btn-warning"
                              (click)="generatePassword()">Generate</button>
                          </div>
                        </div>

                        <br>
                        <form>
                          <div class="field " *ngIf="password">
                            <div class="control ">
                              <label for="password">
                                <p>Your Password</p>
                                <input type="text" maxlength="25" id="password" name="password" class="form-control"
                                  [value]="password" ngModal="password">
                              </label>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" data-dismiss="modal" class="btn btn-primary">Enregistrer</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                          </div>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>