<!-- <div class="container" style="width: 40%;margin-left: 50px;">
    <legend>Modifier les données de l'application</legend>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Nom </label>
        <input type="text" name="name" [(ngModel)] = "app.NomApp" class="form-control" id="name" />
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">Url</label>
        <input type="url" name="price" [(ngModel)] = "app.UrlApp" class="form-control" id="url" />
      </div>
     
      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
</div> -->
