<br>
<app-popup-notification [bgColor]="bgColor" *ngIf="successMessage" [message]="successMessage" #popup></app-popup-notification>

<app-popup-notification [bgColor]="bgColor" *ngIf="errorMessage" [message]="errorMessage" #popup></app-popup-notification>

<div class="row p-3 justify-content-end" >
  
  <div class="col-md-5">
    <div class="input-group">
      <input class="input" type="text" class="form-control" placeholder="Chercher" name="search" [(ngModel)]="searchText" autocomplete="off" >
      <span class="input-group-text"> <i class="fa-solid fa-search"></i></span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-md-12">
    <div class="d-flex justify-content-between"  *ngIf="Role =='admin'">
      <h5>{{cUser.Email}}</h5>
      <button class="btn btn-dark" (click)="makepdf()">  <span class="fas fa-file-export"></span> Exporter</button>
    </div>
    <div class="d-flex justify-content-between"  *ngIf="Role =='user'">
      <h5>{{Email}}</h5>
    </div>
  </div>
  <br>
<table class="table table-striped" >
  <thead>
    <tr >
      <th scope="col">Application</th>
      <th scope="col">Mot de passe</th>
      <th scope="col">Etat</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody *ngIf="Role =='admin'">
    
    <tr *ngFor=" let p of passwords | filter:searchText" >
      <td *ngIf="p.IdUser==getuid()">{{p.app_name}}</td> 
      <td *ngIf="p.IdUser==getuid()" style="cursor:pointer;" (dblclick)="copyText(p.Password)" >
        <div style="width: 65%;">
          <show-hide-password size="sm" [btnOutline]="false" [btnStyle]="color">
          <input type="password" class="myinput" value="{{p.Password}} " disabled>
        </show-hide-password>
      </div>
      </td>
      <td *ngIf="p.IdUser==getuid()"><span style="cursor: pointer;" (click)="updateEtat(p)" class="badge" [ngClass]="{'badge-success': p.Etat, 'badge-danger': !p.Etat}">{{ p.Etat ? 'active' : 'inactive' }}</span></td>
      <td *ngIf="p.IdUser==getuid()"><button type="button" class="btn btn-warning text-light mr-2" (click)="modal(p.id,p.user_name,p.app_name,p.Datecreation,p.Etat,p.IdUser,p.IdApp)"  data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-edit"></i>  modifier</button>
      
      <button (click)="Openpwdmodal(p.id)" type="button" class="btn btn-danger"> <i class="fa-solid fa-trash"></i>  supprimer</button></td>
    </tr>
  </tbody>
  <tbody *ngIf="Role =='user'">
    
    <tr *ngFor=" let p of passwords | filter:searchText" >
      <td *ngIf="p.IdUser==getuserid()">{{p.app_name}}</td> 
      <td *ngIf="p.IdUser==getuserid()" style="cursor:pointer;" (dblclick)="copyText(p.Password)" >
        <div style="width: 65%;">
          <show-hide-password size="sm" [btnOutline]="false">
          <input type="password" class="myinput" value="{{p.Password}} " disabled>
        </show-hide-password>
      </div>
      </td>
      <td *ngIf="p.IdUser==getuserid()"><button type="button" class="btn btn-warning text-light mr-2" (click)="modal(p.id,p.user_name,p.app_name,p.Datecreation,p.Etat,p.IdUser,p.IdApp)"  data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-lock"></i>  generer</button>
      
      <button (click)="Openpwdmodal(p.id)" type="button" class="btn btn-danger"> <i class="fa-solid fa-trash"></i>  supprimer</button></td>
    </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="content ">
              <div class="container ">
                <div class="row ">
                  <div class="col-md-12">
                    
                    <div class="content" >
                     
                        <div class="columns" style="margin-top: 2rem;">
                            <div class="column is-half is-offset-one-quarter">
                              <div class="box" >
                          
                                <div class="field w-25">
                                  
                                    <p for="length">Langueur</p>
                                    <input (input)="onChangeLength($any($event.target).value)" type="number" name="length" class="form-control">
                                    
                                </div>
                                <br>
                                
                                <div class="d-flex justify-content-left">

                                  <div class="field mr-5 ">
                                    <p>Utiliser:</p>
                                  </div>
                                  <div class="field mr-5 ">
                                      <label class="checkbox" for="use-letters">
                                        <input (change)="onChangeUseLetters()" type="checkbox" class="form-check-input" id="use-letters">
                                         <p>Lettres</p>
                                      </label>
                                  </div>
                            
                                  <div class="field mr-5">
                                      <label class="checkbox" for="use-numbers">
                                        <input (change)="onChangeUseNumbers()" type="checkbox" class="form-check-input" id="use-numbers">
                                       <p>Nombres</p> 
                                      </label>
                                  </div>
                            
                                  <div class="field mr-5">
                                      <label class="form-check-label" for="use-symbols">
                                        <input (change)="onChangeUseSymbols()" type="checkbox" class="form-check-input" id="use-symbols">
                                        <p>Symboles</p>
                                      </label>
                                  </div>
                                </div>


                                <div class="field">
                                  <div class="control">
                                    <button [disabled]="disabledBth()" class="btn btn-warning"
                                      (click)="generatePassword()">Generate</button>
                                  </div>
                                </div>
                          
                                <br>
                                <form>
                                <div class="field " *ngIf="password">
                                  <div class="control ">
                                    <label for="password">
                                      <p>Your Password</p>
                                      <input [(ngModel)]="password" type="text" maxlength="25" id="password" name="password" class="form-control" [value]="password">
                                    </label>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" (click)="updatepassword()" data-dismiss="modal" class="btn btn-primary" >Enregistrer</button>
                                  <button type="button" class="btn btn-secondary"  data-dismiss="modal">Fermer</button>
                        
                                </div>
                              </form>
                              </div>
                            </div>
                            
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      
    </div>

  </div>
</div>
</div>

<!-- Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alert!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Attention , cette action est irréversible !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-danger" (click)="deletePassword()" >Supprimer</button>
      </div>
    </div>
  </div>
</div>
<table hidden class="table table-striped " id="pwdtable">
  
  <thead>
    
    <tr>
        <th scope="col">Username123</th>
        <th scope="col">Application</th>
        <th scope="col">Mot de passe</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let p of passwords">
      <td>{{p.user_name}}</td>
      <td>{{p.app_name}}</td>
      <td>{{p.Password}}</td>
    </tr>
  </tbody>
</table>